 <!-- About Section -->
    <section class="success" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>申込方法</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                        一般公開講座(10/7)の方もこちらからどうぞ
                    </p>
                    <p>
                        申込締切: 2020年9月27日(日)
                        <br>
                        ※締切を延長しました
                    </p>
                    <p>
                        <a href="https://bit.ly/TomoApp" class="btn btn-lg btn-outline">
                            <i class="fa fa-paper-plane"></i> 申込フォーム
                        </a>
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>
                        新型コロナウイルス感染対策について
                    </h4>
                    <p>
                        講座中は、マスク着用、手指消毒、換気、ソーシャルディスタンスの確保などの予防対策を行います。ウイルスの感染状況によっては、オンラインで講座を実施する場合もあります。ご協力をよろしくお願いいたします。
                    </p>
                </div>
            </div>
        </div>
    </section>
